<html>
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Рецепты</title>
        <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{#  Разобраться со статикой туть #}
    </head>

    <body>
        {% include 'recipes/nav.html' %}
        <main class="main container">
            {% block content %}
            {% endblock %}
        </main>
        {% include 'recipes/footer.html' %}
    </body>
</html>
